
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
/*clock datetime styles*/
#clock12 {
    text-align: center;
    font-weight:bold;
    font-size:100px;
    color: #000000;
}

#clock24{
   text-align: center;
    font-weight:bold;
    font-size:100px;
    color: #000000;
}

#dateday{
    font-size: 30px;
    color: #000000;
    text-align: center;
    padding-bottom:10px;
}


/*quote styles*/

.quote{
  font-family: "Raleway";
}

.quote-text{
  padding-top: 20px;
  font-size: 1.25rem;
  padding-bottom: 0px;
  text-align:center;
}

.author-text{
  font-size: 1rem;
  text-align: center;
}

.buttons {
	padding: 4px;
	text-align: center;
	font-size: 1rem;
}

.twitter-share-button {
 text-decoration: none;
}

/* weather styles */

.temprature{
  display:inline-block;
}

.unit{
  display: inline-block;
}

body{
  text-align: center;
}

.degree{
  display: inline-block;
}

#weather {
  position: absolute;
  right: 0;
  bottom: 0;

  padding: 1rem;

  text-align: center;
}

/* Settings styles */

#toggle-time{
  position: absolute;
  left: 0;
  bottom: 0;

  padding: 1rem;

  text-align: center;
}
